<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ECMColleagueServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://fluig-app.codemig.com.br:8080/webdesk/ECMColleagueService"
                binding="basicHttpBinding" bindingConfiguration="ECMColleagueServiceServiceSoapBinding"
                contract="FluigColleagueService.ColleagueService" name="ColleagueServicePort" />
        </client>
    </system.serviceModel>
</configuration>